.installer-image-generator {
	.edit {
		margin-top: 1rem;
	    .edit-inner div label {
			display: block;
			gap: 0.25rem;
			span {
				display: none;
				&:first-child {
					display: inline;
				}

			}
		}
		&.selected .edit-inner label span {
			display: inline;
			&:first-child {
				display: none;
			}
		}
		input[type=file]{
		  color:transparent;
		}
		
	}
	.options-top {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 1.5rem;
		gap: 1rem;
	    width: auto;
		max-width: 1100px;
		margin-left: 0;
		.images, .patterns {
			display: flex;
			gap: 0.5rem;
			font-size: 0.875rem;
			.label {
				font-weight: 600;
				flex: 0;
				white-space: nowrap;
				transform: translateY(0.175rem);
			}
			.number span {
				display: inline-block;
				height: 0.875rem;
				width: 0.875rem;
				margin-left: 0.5rem;
				border: 2px solid #000;
				background-color: #000;
				box-sizing: border-box;
	    		border-radius: 0.075rem;
				transform: translateY(0.125rem);
			}
			.entry {
				text-align: center;
				flex: 1;
				.inner {
					display: inline-block;
					padding: 0.075rem 0.25rem 0.125rem;
					opacity: 0.625;
					cursor: pointer;
	    			border-radius: 0.125rem;
	    			border: 2px solid #fff;
	    			&:hover, &.selected {
	    				opacity: 1;
						border-color: rgba($blurple, 0.2);
	    			}
					&.selected {
						background-color: rgba($blurple, 0.2);
						border-color: transparent;
					}
				}
			}
			&.patterns {
				gap: 1.25rem;
				.swap {
					font-weight: normal;
					margin-top: 0.5rem;
					font-size: 0.75rem;
					font-style: italic;
					display: block;
				}
			}
			.pattern {
				.inner {
					width: 100%;
					aspect-ratio: 16/9;
					svg {
						width: 100%;
						height: auto;
						path {
							fill: #282828;
							stroke: #282828;
						}
						polygon.cls-3 {
							fill: #282828;
						}
					}
				}
			}
		}
	}
	.installer-container {
		width: 100%;
		aspect-ratio: 16/9;
		margin: 0;
		position: relative;
		.decoration {
			inset: 0;
			svg {
				display: none;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&.background-1 {
			background-color: #282828;
			.decoration svg {
			//show first child, hide others
				&:nth-child(1) {
					display: block;
				}
			}
			&.alt-color {
				background-color: $franklin;

				.mosaic {
					.top-bar, .bottom-bar {
						background-color: #282828;
						&:before, &:after {
							background-color: #282828;
						}
					}
				}
			}
		}
		&.background-2 {
			background-color: #282828;
			.decoration svg {
				//show second child, hide others
				&:nth-child(2) {
					display: block;
					polygon {
						fill: $franklin;
					}
				}
			}
			.mosaic {
				.top-bar, .bottom-bar {
					background-color: #fff;
					&:before, &:after {
						background-color: #fff;
					}
				}
			}
			&.alt-color {
				background-color: $franklin;
				.decoration svg {
					&:nth-child(2) {
						polygon {
							fill : #beb5ba;
						}
					}
				}
				.mosaic {
					.top-bar, .bottom-bar {
						background-color: #fff;
						&:before, &:after {
							background-color: #fff;
						}
					}
				}
			}
		}
		&.background-3 {
			background-color: #282828;
			.decoration svg {
				//show third child, hide others
				&:nth-child(3) {
					display: block;
				}
			}
			&.alt-color {
				background-color: $franklin;
				.mosaic {
					.top-bar, .bottom-bar {
						background-color: #beb5ba;
						&:before, &:after {
							background-color: #beb5ba;
						}
					}
				}
				.decoration svg {
					path {
						stroke: #fff;
						fill: #fff;
					}
					polygon.cls-3 {
						fill: #fff;
					}
				}
			}
		}
		.mosaic {
			position: absolute;
			aspect-ratio: 1.25;
			top: 50%;
			left: 50%;
			height: 60%;
			transform: translate(-50%, -50%);
			.top-bar, .bottom-bar {
				position: absolute;
				left: -2rem;
				right: -2rem;
				height: 2rem;
				background-color: $franklin;
				&:before, &:after {
					content: "";
					position: absolute;
					display: block;
					width: 2rem;
					background-color: $franklin;
					height: 1.5rem;
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
			.top-bar {
				bottom: 100%;
				&:before, &:after {
					top: calc(100% - 1px);
				}
			}
			.bottom-bar {
				top: 100%;
				&:before, &:after {
					bottom: calc(100% - 1px);
				}
			}
			.image-group {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				position: absolute;
				inset: 0;
				z-index: 1;
				.left, .right {
					height: 100%;
					width: 100%;
					flex: 1 1 auto;

				}
				.image-container {
					display: block;
					padding: 0;
					margin: 0;
					box-sizing: border-box;
					height: 100%;
					width: 100%;
					position: relative;
					
					&.draggable {
						border: 0.125rem dashed $blurple;
						border-radius: 0.5rem;
						position: relative;
						background-color: #fff;
						&.active:before {
							inset: -3px;
							border-radius: 0.5rem;
						}
						&:after {
							position: absolute;
							top: 50%;
							left: 50%;
							max-width: 90%;
							display: block;
							content: "Drop image";
							font-family: $polysans;
							font-weight: 600;
							font-size: 1.25rem;
							color: $blurple;
							transform: translate(-50%, -50%);
							text-align: center;
						}
						&.dragging {
							background-color: rgba($blurple, 0.25);
						}
						div {
							display: none;
						}
					}
					.image-inner {
						width: 100%;
						height: 100%;
					}
					.picture {
						position: relative;
						margin: 0;
						height: 100%;
						width: 100%;
					}
					.image {
						
						position: absolute;
						inset: 0%;
						width: auto;
						.image-holder {
							position: absolute;
							inset: 0;
						}
						.image-holder {
							
							.image-holder-inner {
								width: 100%;
								height: 100%;
								//background-color: #000;
								text-align: center;
								img {
									height: 100%;
									width: 100%;
									object-fit: cover;
								}
							}
						}
						img {
							//filter: saturate(0.125)  brightness(0.625);
							transform-origin: center center;
						}
					}
				}
				.right, .left {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				}
				&.one {
					.right {
						display: none;
					}
				}
				&.two {
					.right .image-container:last-child {
						display: none;
					}
				}
				&:not(.four) {
					.left .image-container:last-child {
						display: none;
					}
				}
			}
		}
	}
	.options {
		display: none;
		margin: 0;
		padding: 1rem 0 0;
		&.visible {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;
			.download {
				display: block;
				margin-top: 0;
			}
		}
		
		input[type="range"] {
			accent-color: $blurple;

		}
		.regen {
			background-color: $blurple;
		    padding: 0.25rem 0.75rem;
		    text-transform: uppercase;
		    color: $secondary-color;
		    font-style: normal;
		    font-size: 0.75rem;
		    cursor: pointer;
		    border: 2px solid $blurple;
		    flex: 1 1 0;
		    border-radius: 0.125rem;
		    white-space: nowrap;
		    font-weight: 600;
		    letter-spacing: 0.05rem;
		    font-family: $polysans-mono;
		    text-align: center;
		    pointer-events: auto;
		    user-select: none;
		    width: 25%;
		    &:hover {
		        background-color: transparent;
		        color: $blurple;
		    }
		}
		.ratios {
			width: 100%;
		}
	}
}